.topfold-container {
  margin: 0;
  width: 100%;
  margin-top: 10px;
}

.home-topfold {
  justify-content: space-between;
  display: flex;

  width: 100%;
}
.searchbar {
  border: 1px solid black;
  border-radius: 8px;
  width: 80%;
  padding: 5px 0px;
  background: white;
  margin: 0;
}
.searchbar i {
  font-size: 12px;
  margin: 0 5px;
  width: fit-content;
}
.searchbar input {
  outline: none;
  border: none;
  margin: 0;
  width: 100%;
}

.btn {
  border: 1px solid black;
  border-radius: 8px;
  width: max-content;
  padding: 5px 5px 5px 3px;
  width: max-content;
  cursor: pointer;
}

.btn-add {
  margin: 0;
  width: fit-content;
}

.btn-add button {
  width: fit-content;
}

.add-topfold {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.btn-add-topfold {
  width: max-content;
  margin: 5px 0;
}
.btn-add-topfold button {
  background: none;
  border: none;
}
