body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: cadetblue;
}
* {
  font-family: "Roboto", sans-serif;
}

.flex-center {
  display: flex;
  align-items: center;
}
